[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/cristo/Escritorio/black-archlinux-wallpaper-preview.jpg]
row=4
col=0

[6825d809-3e80-40b6-a25f-bd8262aa9c87]
row=0
col=0

[C925-C2CB]
row=1
col=0

[/]
row=2
col=0

[/home/cristo]
row=3
col=0

